# A closer look at COVID-19 data
In this notenook I want to take a closer look at some covid-19 data in combination with UN country data. After looking into the data I will pose three questions that will be answered in this notebook. This notebook follows the CRISP-DM process and the steps 1 (developing business understanding) and step 2 (developing data understanding) are excecuted in parallel.

Sources:
The UN country data is from [kaggle](https://www.kaggle.com/sudalairajkumar/undata-country-profiles) which in turn is from the [UN database](http://data.un.org/).
        The COVID-19 dataset is from the [european center for disease prevention](https://data.europa.eu/euodp/en/data/dataset/covid-19-coronavirus-data).

# Business and data understanding
## Business questions:

Business Understanding

    How do I break into the field?
    What are the placement and salaries of those who attended a coding bootcamp?
    How well can we predict an individual's salary? What aspects correlate well to salary?
    How well can we predict an individual's job satisfaction? What aspects correlate well to job satisfaction?

In [1]:
# Importing necessary libraries
import pandas as pd

In [8]:
covid_df = pd.read_excel("data/COVID-19-geographic-disbtribution-worldwide.xlsx")
un_df = pd.read_csv("data/country_profile_variables.csv")

In [9]:
covid_df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-09-07,7,9,2020,74,2,Afghanistan,AF,AFG,38041757.0,Asia,1.048847
1,2020-09-06,6,9,2020,20,0,Afghanistan,AF,AFG,38041757.0,Asia,0.854324
2,2020-09-05,5,9,2020,16,0,Afghanistan,AF,AFG,38041757.0,Asia,1.077763
3,2020-09-04,4,9,2020,45,1,Afghanistan,AF,AFG,38041757.0,Asia,1.135594
4,2020-09-03,3,9,2020,38,3,Afghanistan,AF,AFG,38041757.0,Asia,1.272286

In [10]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41210 entries, 0 to 41209
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     41210 non-null  datetime64[ns]
 1   day                                                         41210 non-null  int64
 2   month                                                       41210 non-null  int64
 3   year                                                        41210 non-null  int64
 4   cases                                                       41210 non-null  int64
 5   deaths                                                      41210 non-null  int64
 6   countriesAndTerritories                                     41210 non-null  object
 7   geoId                                                       41033 non-null  object
 8   countryterritoryCode                                        41146 non-null  object
 9   popData2019                                                 41146 non-null  float64
 10  continentExp                                                41210 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  38429 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 3.8+ MB

In [11]:
covid_df.describe()

,day,month,year,cases,deaths,popData2019,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
count,41210.000000,41210.000000,41210.000000,41210.000000,41210.000000,4.114600e+04,38429.000000
mean,15.777869,5.413225,2019.998374,658.840015,21.578646,4.324698e+07,31.220248
std,8.983013,2.103617,0.040289,4095.974389,126.770314,1.588085e+08,73.105937
min,1.000000,1.000000,2019.000000,-2461.000000,-1918.000000,8.150000e+02,-145.301958
25%,8.000000,4.000000,2020.000000,0.000000,0.000000,1.394969e+06,0.326135
50%,16.000000,6.000000,2020.000000,8.000000,0.000000,8.519373e+06,4.175515
75%,24.000000,7.000000,2020.000000,138.000000,2.000000,2.916192e+07,24.546303
max,31.000000,12.000000,2020.000000,90802.000000,4928.000000,1.433784e+09,1058.225943

In [14]:
un_df.head()

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
3,American Samoa,Polynesia,199,56,278.2,103.6,-99,-99,-99.0,-99,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
4,Andorra,SouthernEurope,468,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99

In [12]:
un_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 50 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   country                                                     229 non-null    object
 1   Region                                                      229 non-null    object
 2   Surface area (km2)                                          229 non-null    object
 3   Population in thousands (2017)                              229 non-null    int64
 4   Population density (per km2, 2017)                          229 non-null    float64
 5   Sex ratio (m per 100 f, 2017)                               229 non-null    float64
 6   GDP: Gross domestic product (million current US$)           229 non-null    int64
 7   GDP growth rate (annual %, const. 2005 prices)              229 non-null    object
 8   GDP per capita (current US$)                                229 non-null    float64
 9   Economy: Agriculture (% of GVA)                             229 non-null    object
 10  Economy: Industry (% of GVA)                                229 non-null    float64
 11  Economy: Services and other activity (% of GVA)             229 non-null    float64
 12  Employment: Agriculture (% of employed)                     229 non-null    object
 13  Employment: Industry (% of employed)                        229 non-null    object
 14  Employment: Services (% of employed)                        229 non-null    object
 15  Unemployment (% of labour force)                            229 non-null    object
 16  Labour force participation (female/male pop. %)             229 non-null    object
 17  Agricultural production index (2004-2006=100)               229 non-null    int64
 18  Food production index (2004-2006=100)                       229 non-null    int64
 19  International trade: Exports (million US$)                  229 non-null    object
 20  International trade: Imports (million US$)                  229 non-null    object
 21  International trade: Balance (million US$)                  229 non-null    object
 22  Balance of payments, current account (million US$)          229 non-null    object
 23  Population growth rate (average annual %)                   229 non-null    object
 24  Urban population (% of total population)                    229 non-null    float64
 25  Urban population growth rate (average annual %)             229 non-null    object
 26  Fertility rate, total (live births per woman)               229 non-null    object
 27  Life expectancy at birth (females/males, years)             229 non-null    object
 28  Population age distribution (0-14 / 60+ years, %)           229 non-null    object
 29  International migrant stock (000/% of total pop.)           229 non-null    object
 30  Refugees and others of concern to UNHCR (in thousands)      229 non-null    object
 31  Infant mortality rate (per 1000 live births                 229 non-null    object
 32  Health: Total expenditure (% of GDP)                        229 non-null    float64
 33  Health: Physicians (per 1000 pop.)                          229 non-null    object
 34  Education: Government expenditure (% of GDP)                229 non-null    object
 35  Education: Primary gross enrol. ratio (f/m per 100 pop.)    229 non-null    object
 36  Education: Secondary gross enrol. ratio (f/m per 100 pop.)  229 non-null    object
 37  Education: Tertiary gross enrol. ratio (f/m per 100 pop.)   229 non-null    object
 38  Seats held by women in national parliaments %               229 non-null    float64
 39  Mobile-cellular subscriptions (per 100 inhabitants)         229 non-null    object
 40  Mobile-cellular subscriptions (per 100 inhabitants).1       229 non-null    object
 41  Individuals using the Internet (per 100 inhabitants)        229 non-null    int64
 42  Threatened species (number)                                 229 non-null    object
 43  Forested area (% of land area)                              229 non-null    object
 44  CO2 emission estimates (million tons/tons per capita)       229 non-null    int64
 45  Energy production, primary (Petajoules)                     229 non-null    int64
 46  Energy supply per capita (Gigajoules)                       229 non-null    object
 47  Pop. using improved drinking water (urban/rural, %)         229 non-null    object
 48  Pop. using improved sanitation facilities (urban/rural, %)  229 non-null    object
 49  Net Official Development Assist. received (% of GNI)        229 non-null    int64
dtypes: float64(8), int64(8), object(34)
memory usage: 89.6+ KB

In [15]:
un_df.describe()

,Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),GDP per capita (current US$),Economy: Industry (% of GVA),Economy: Services and other activity (% of GVA),Agricultural production index (2004-2006=100),Food production index (2004-2006=100),Urban population (% of total population),Health: Total expenditure (% of GDP),Seats held by women in national parliaments %,Individuals using the Internet (per 100 inhabitants),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Net Official Development Assist. received (% of GNI)
count,2.290000e+02,229.000000,229.000000,2.290000e+02,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.0
mean,3.275679e+04,462.824891,100.202183,3.214339e+05,14251.877729,15.958952,46.408734,99.270742,100.043668,59.508734,-11.248908,1.861572,198.711790,2464.262009,80.847162,-99.0
std,1.332751e+05,2305.384253,28.327837,1.478690e+06,23391.266933,38.684631,48.603730,62.787137,63.198988,25.206404,39.924937,45.674635,296.453089,9912.891745,121.808263,0.0
min,1.000000e+00,0.100000,-99.000000,-9.900000e+01,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,0.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.0
25%,4.310000e+02,35.900000,96.400000,2.078000e+03,1207.900000,15.400000,47.300000,98.000000,98.000000,39.800000,3.400000,7.200000,55.000000,2.000000,19.000000,-99.0
50%,5.448000e+03,88.100000,99.000000,1.625100e+04,4836.100000,25.500000,59.500000,111.000000,112.000000,59.900000,5.600000,17.100000,97.000000,108.000000,47.000000,-99.0
75%,1.919300e+04,222.800000,101.700000,1.179550e+05,16344.100000,32.800000,70.700000,130.000000,130.000000,79.600000,7.800000,27.100000,196.000000,961.000000,103.000000,-99.0
max,1.409517e+06,25969.800000,301.200000,1.803665e+07,169491.800000,79.900000,94.000000,199.000000,199.000000,100.000000,17.100000,61.300000,2358.000000,101394.000000,952.000000,-99.0

### Backlog data preparation
COVID dataset
- Cumulative number of cases is missing data
- Negative numbers in cases, deaths and cumulative which does not make sense
UN dataset
- negative numbers present (-99) possible code for missing data
- country with only 1000 inhabitants present
- country with urban pop. of 0 present
- countries with unrealistic sex ratios present
- country with urban pop. of 0
- negative mean of health total expenditure
- individuals using the internet sometimes more than 100%
General
-merge datasets on country

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
3,American Samoa,Polynesia,199,56,278.2,103.6,-99,-99,-99.0,-99,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
4,Andorra,SouthernEurope,468,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99

Data Understanding

Here we used the StackOverflow data to attempt to answer our questions of interest. We did 1. and 2. in tandem in this case, using the data to help us arrive at our questions of interest. This is one of two methods that is common in practice. The second method that is common is to have certain questions you are interested in answering, and then having to collect data related to those questions.

Prepare Data

This is commonly denoted as 80% of the process. You saw this especially when attempting to build a model to predict salary, and there was still much more you could have done. From working with missing data to finding a way to work with categorical variables, and we didn't even look for outliers or attempt to find points we were especially poor at predicting. There was ton more we could have done to wrangle the data, but you have to start somewhere, and then you can always iterate.

Model Data

We were finally able to model the data, but we had some back and forth with step 3. before we were able to build a model that had okay performance. There still may be changes that could be done to improve the model we have in place. From additional feature engineering to choosing a more advanced modeling technique, we did little to test that other approaches were better within this lesson.

Results

Results are the findings from our wrangling and modeling. They are the answers you found to each of the questions.